@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Font1';
    src: local('Font1'), url('./fonts/SoDoSans-SemiBold.ttf') format('woff');
}

@font-face {
    font-family: 'Font2';
    src: local('Font2'), url('./fonts/SoDoSans-Regular.ttf') format('woff');
}

@font-face {
    font-family: 'Font3';
    src: local('Font3'), url('./fonts/SoDoSans-Light.ttf') format('woff');
}

@font-face {
    font-family: 'Font4';
    src: local('Font4'), url('./fonts/SoDoSans-Bold.ttf') format('woff');
}

@font-face {
    font-family: 'Font5';
    src: local('Font5'), url('./fonts/SoDoSans-Black.ttf') format('woff');
}

@layer base {
    * {
        @apply box-border m-0 p-0;
    }
    html {
        @apply scroll-smooth overflow-x-hidden;
    }
    body {
        @apply overflow-x-hidden;
        font-family: 'Font1';
    }
    li {
        @apply list-none;
    }
    br {
        @apply hidden xl:inline-block;
    }
    .Font1 {
        font-family: 'Font1' !important;
    }
    .Font2 {
        font-family: 'Font2' !important;
    }
    .Font3 {
        font-family: 'Font3' !important;
    }
    .Font4 {
        font-family: 'Font4' !important;
    }
    .Font5 {
        font-family: 'Font5' !important;
    }
}

@layer components {
    /* Header */
    .header {
        @apply bg-white h-20 xl:h-24 grid grid-cols-2 items-center justify-between w-screen border-b-[3px] border-b-[rgb(252,222,222)] border-solid px-6 z-50 xl:px-11;
    }
    .logo img {
        @apply h-[10mm] xl:h-[13mm] aspect-square;
    }
    .navbar {
        @apply w-auto hidden xl:flex;
    }
    .navbar ul {
        @apply flex justify-between items-center gap-x-7;
    }
    .navbar li {
        @apply flex p-0;
    }
    .navbar li a {
        @apply text-[black] text-[15px] tracking-widest font-black transition-colors duration-300 hover:text-Green;
        font-family: 'Font2';
    }
    .store {
        @apply flex gap-2 items-center;
    }
    .store__text {
        @apply text-sm cursor-pointer hover:text-Green font-black;
    }
    .button {
        @apply transition-all duration-500 text-sm border cursor-pointer pb-[7px] px-[15px] py-1.5 rounded-[35px] flex max-w-fit;
        font-family: 'Font1';
    }
    /* Header */

    /* Nav Menu */
    .nav__menu__container {
        @apply flex flex-col gap-7 w-auto xl:px-0 px-3;
    }
    .nav__menu__heading {
        @apply text-base text-black xl:tracking-normal tracking-tighter;
    }
    .nav__menu__ul {
        @apply flex flex-col gap-6;
    }
    .nav__menu__ul li {
        @apply text-sm xl:text-base transition-all duration-200 hover:text-black cursor-pointer;
    }
    /* Nav Menu */

    /* Footer */
    .footer__list {
        @apply flex items-center text-sm xl:text-base pr-4 cursor-pointer hover:underline;
    }
    /* Footer */
}

@layer utilities {
    .grid__center {
        @apply grid place-items-center;
    }
    .nav__burger__overlay {
        @apply -translate-x-0 w-screen xl:hidden transition-all absolute xl:-z-50 duration-500 left-0 top-[78px] h-screen bg-black/60 z-50;
    }
    .nav__burger__menu {
        @apply w-9/12 divide-y transition-all duration-500 divide-stone-400 right-0 absolute z-50 top-[78px] text-xl bg-white h-screen py-12 px-8 flex flex-col;
    }
    .nav__burger__value {
        @apply opacity-100 -translate-x-0;
    }
}
